<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Huellitas de Animalitos</title>
    <style> 
        * {
            text-align: center;
        }
        h1{
            font-size: 50px;
        }
        p {
            font-size: 25px;
        }
    </style>
</head>

<body>
<h1>COMING SOON</h1>
<p>We're working hard! Not long now until we're up and running. <br> 
We'll be up and running in the next weeks. <br>
Thank you for your visit! Hope to see you soon :) </p>

</body>
</html>